<?xml version="1.0"?>
<launch>

  <arg name="controllers" default="impedance_controller"/>
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix"
     value="gdb --ex run --args" />

  <rosparam file="$(find force_controllers)/config/panda_impedance.yaml" command="load"/>

  <node name="controller_spawner" 
        pkg="controller_manager" 
        type="spawner" 
        respawn="false" 
        output="screen"
        args="$(arg controllers)"/>

</launch>
