<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<robot name="grasp_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Constants for robot dimensions -->
  <xacro:property name="mass" value="1" /> <!-- arbitrary value for mass -->
  <xacro:property name="camera_link" value="0.05" /> <!-- Size of square 'camera' box -->

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find ros_votegrasp)/urdf/camera.gazebo" />
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find ros_votegrasp)/urdf/materials.xacro" />

  <!-- Camera -->
  <link name="camera_link">
    <collision>
      <geometry>
        <mesh filename="package://cititruck_description/meshes/asus_xtion_pro_camera.dae"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <mesh filename="package://cititruck_description/meshes/asus_xtion_pro_camera.dae"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="0.316" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.0007765" ixy="0" ixz="0" iyy="0.0000725" iyz="0" izz="0.0007657" />
    </inertial>
  </link>

</robot>
